@font-face{
  font-family: "GeosansLight.ttf";
  src: url(../fonts/GeosansLight.ttf);
}

body, html{
  margin: 0px;
  background-color: #009999;
}
.app-container{
  margin: 30px;
  padding-left: 20px;
  padding-top: 20px;
  background-color: white;
}
.exit-edit-info{
  float: right;
  width: 10px;
  padding: 10px;
}
ul {
  list-style: none;
}
.select-dropdown{
  width: 200px;
  background-color: #009999;
  color: white;
}
.space{
  display: inline-block;
  padding: 5px;
}
.sort-students{
  padding: 10px;
  display: inline-block;
}
.filter-students{
  display: inline-block;
}
.info-btn{
  border: none;
  padding: 2px;
}
.info-icon{
  width: 10px;
}
.main-title{
  color: white;
  text-align: center;
  font-family: "GeosansLight.ttf";
}
.popup {
  width: 100%;
  height: 100%;
  top: 0;
  left: 5;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  border: 2px;
  border:1px solid black;
  position: absolute;
  left: 45%;
  right: 15%;
  top: 30%;
  bottom: 25%;
  margin: auto;
  background: white;
}
table{
  padding-top: 20px;
}
th{
  font-family: sans-serif;
}
td{
  padding: 40px;
  color: #00B3B3;
  font-size: 15px;
  font-family: sans-serif;
}
.edit-btn{
  border: none;
}
.pencil-icon{
  width: 20px;
}
.filtered-name{
  color: #00B3B3;
  font-size: 15px;
  font-family: sans-serif;
}
.popup-edit {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner-edit {
  border: 2px;
  height: 90%;
  border:1px solid black;
  position: absolute;
  left: 30%;
  right: 30%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: #F3F3F3;
}
.edit-info-header{
  font-family: sans-serif;
}
.input-edit{
  border-radius: 5px;
  width: 50%;
  border:1px solid #cccccc;
  border-width: 1px;
  /* border-style: 1px solid white; */
}
.note{
  font-size: 12px;
}
.edit-title-name{
  color: black;
  font-size: 15px;

}
.btn-container{
  text-align: center;
}
.form-btns{
  text-align: center;
  width: 100%;
}
.form-li{
  display: inline-block;
}
.student-info-box-header{
  margin: 24px;
  font-family: sans-serif;
}
.li-title{
  font-family: sans-serif;
  font-size: 12px;
  color: #009999;
}
.signup-login-wrapper{
  padding: 50px;
  margin: 20px;
}
.login{
  padding: 30px;
}
.signup{
  padding: 30px;
}
.login-control{
  display: block;
}
.signup-control{
 display: block;
}
.login-page-header{
  font-family: sans-serif;
  color: white;
}
@media only screen 
and (min-width: 400px) 
and (max-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) {
  .edit-btn{
    display: none;
  }
  .info-btn{
    display: none;
  }
}
